In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [3]:
## Load the dataset
data=pd.read_csv("Data/train.csv")
data.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [4]:
## Preprocess the data
##Drop irrelevant features
data=data.drop(['id','CustomerId','Surname'],axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...
165029,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79,1

In [5]:
## Encode categorical variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,1,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,627,France,1,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,678,France,1,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,581,France,1,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,716,Spain,1,33.0,5,0.00,2,1.0,1.0,15068.83,0
...,...,...,...,...,...,...,...,...,...,...,...
165029,667,Spain,0,33.0,2,0.00,1,1.0,1.0,131834.75,0
165030,792,France,1,35.0,3,0.00,1,0.0,0.0,131834.45,0
165031,565,France,1,31.0,5,0.00,1,1.0,1.0,127429.56,0
165032,554,Spain,0,30.0,7,161533.00,1,0.0,1.0,71173.03,0
165033,850,France,1,31.0,1,0.00,1,1.0,0.0,61581.79,1

In [6]:
## one hot encoding geography column
from sklearn.preprocessing import OneHotEncoder
encode_geo=OneHotEncoder()
geo=encode_geo.fit_transform(data[['Geography']])
geo

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 165034 stored elements and shape (165034, 3)>

In [7]:
encode_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [8]:
geo_encoded_df=pd.DataFrame(geo.toarray(),columns=encode_geo.get_feature_names_out(['Geography']))
geo_encoded_df

        Geography_France  Geography_Germany  Geography_Spain
0                    1.0                0.0              0.0
1                    1.0                0.0              0.0
2                    1.0                0.0              0.0
3                    1.0                0.0              0.0
4                    0.0                0.0              1.0
...                  ...                ...              ...
165029               0.0                0.0              1.0
165030               1.0                0.0              0.0
165031               1.0                0.0              0.0
165032               0.0                0.0              1.0
165033               1.0                0.0              0.0

[165034 rows x 3 columns]

In [12]:
## Combine all encoded colimn with original data
data =pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,668,1,33.0,3,0.00,2,1.0,0.0,181449.97,0,1.0,0.0,0.0
1,627,1,33.0,1,0.00,2,1.0,1.0,49503.50,0,1.0,0.0,0.0
2,678,1,40.0,10,0.00,2,1.0,0.0,184866.69,0,1.0,0.0,0.0
3,581,1,34.0,2,148882.54,1,1.0,1.0,84560.88,0,1.0,0.0,0.0
4,716,1,33.0,5,0.00,2,1.0,1.0,15068.83,0,0.0,0.0,1.0

In [57]:
with open('Data/label_encoder_gender.pkl','wb')as file:
    pickle.dump(label_encoder_gender,file)

with open('Data/encode_geo.pkl','wb')as file:
    pickle.dump(encode_geo,file)

In [13]:
## Divide dataset into dependent and independent features
X=data.drop('Exited',axis=1)
y=data['Exited']

## split data into training and testing test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
X_train

array([[ 0.2775534 ,  0.87903241,  0.32458613, ...,  0.86727152,
        -0.51576047, -0.52978452],
       [ 0.80227227,  0.87903241,  0.88829874, ...,  0.86727152,
        -0.51576047, -0.52978452],
       [-1.32158984,  0.87903241, -0.35186899, ...,  0.86727152,
        -0.51576047, -0.52978452],
       ...,
       [ 1.20205808, -1.13761448,  0.09910109, ...,  0.86727152,
        -0.51576047, -0.52978452],
       [ 0.35251324, -1.13761448,  1.11378378, ...,  0.86727152,
        -0.51576047, -0.52978452],
       [ 0.12763372,  0.87903241, -0.35186899, ..., -1.15304144,
         1.93888454, -0.52978452]])

In [15]:
with open('Data/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Implementation --sequential mdoel in ANN

In [18]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [22]:
## Built our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), # HL1 connected with input layer
    Dense(32,activation='relu'),## HL2
    Dense(1,activation='sigmoid') ## output layer
])

In [23]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [44]:
## Compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [45]:
## Set up the Tensoroard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir="logs/fit"+datetime.datetime.now().strftime("%d/%m/%Y, %H:%M:%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [46]:
## Set up early stopping
early_stopping=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [47]:
### Training model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100, callbacks=[tensorflow_callback,early_stopping])

Epoch 1/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 444us/step - accuracy: 0.8516 - loss: 0.3516 - val_accuracy: 0.8630 - val_loss: 0.3256
Epoch 2/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 395us/step - accuracy: 0.8616 - loss: 0.3316 - val_accuracy: 0.8632 - val_loss: 0.3269
Epoch 3/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 397us/step - accuracy: 0.8622 - loss: 0.3301 - val_accuracy: 0.8647 - val_loss: 0.3239
Epoch 4/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 417us/step - accuracy: 0.8615 - loss: 0.3288 - val_accuracy: 0.8626 - val_loss: 0.3246
Epoch 5/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 393us/step - accuracy: 0.8619 - loss: 0.3288 - val_accuracy: 0.8654 - val_loss: 0.3300
Epoch 6/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 396us/step - accuracy: 0.8634 - loss: 0.3252 - val_accuracy: 0.8631 - val_loss: 0.3240
Epoch 7/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 396us/step - accuracy: 0.8642 - loss: 0.3250 - val_accuracy: 0.8638 - val_loss: 0.3242
Epoch 8/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 410us/step - accuracy: 0.8654 - loss: 0.3257 - val_accuracy: 0.8652 - val_loss: 0.3225
Epoch 9/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 409us/step - accuracy: 0.8626 - loss: 0.3285 - val_accuracy: 0.8651 - val_loss: 0.3230
Epoch 10/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 396us/step - accuracy: 0.8640 - loss: 0.3273 - val_accuracy: 0.8637 - val_loss: 0.3242
Epoch 11/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 397us/step - accuracy: 0.8623 - loss: 0.3285 - val_accuracy: 0.8650 - val_loss: 0.3223
Epoch 12/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 405us/step - accuracy: 0.8638 - loss: 0.3262 - val_accuracy: 0.8643 - val_loss: 0.3240
Epoch 13/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 418us/step - accuracy: 0.8628 - loss: 0.3270 - val_accuracy: 0.8632 - val_loss: 0.3234
Epoch 14/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 410us/step - accuracy: 0.8627 - loss: 0.3274 - val_accuracy: 0.8635 - val_loss: 0.3235
Epoch 15/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 426us/step - accuracy: 0.8643 - loss: 0.3245 - val_accuracy: 0.8635 - val_loss: 0.3289
Epoch 16/100
4126/4126 ━━━━━━━━━━━━━━━━━━━━ 2s 401us/step - accuracy: 0.8642 - loss: 0.3274 - val_accuracy: 0.8651 - val_loss: 0.3273

In [48]:
## save this models
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [49]:
%load_ext tensorboard

In [55]:
%tensorboard --logdir logs/fit28/12/

Reusing TensorBoard on port 6008 (pid 40583), started 0:00:22 ago. (Use '!kill 40583' to kill it.)